button, 
form {
	margin: 5px;
}

button {color: blue}

.jumbotron {
	font-weight: bold;
	background-color: #563d7c;
	color: #cdbfe3;

}

.container .jumbotron, .container-fluid .jumbotron {
	padding-top: 2px;
	padding-bottom: 2px;
}


button, html input[type=button], input[type=reset], input[type=submit] {
	background-color: #3B5998;
	border: #3B5998;
	color: white;
}

input{
	background-color: #dfdf88 ;
}


/*updates gif photo to show left to right versus just vertical */
.item {
	padding: 10px;
	display: inline-block;
}

p{
	background-color: #563d7c;
	color: #cdbfe3;	
	padding: 0px;
}